html {
  background-color: rgb(188, 255, 252);
}

h1, h2, h3 {
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  min-width: 1000px;
}

.section {
  flex: 1;
}

#Lucy {
  margin: 0 auto;
  width: 30%;
  border: 5px solid rgb(247, 231, 11);
}

.divBack {
  background-color: white;
  flex: 1;
  height: 50px;
}

.square {
  display: inline;
  width: 3rem;
  height: 3rem;
  text-align: center;
  text-decoration: solid;
}

.SudokuRow {
  margin: 0 auto;
  width: 50%;
}
